@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
/* font-family: 'Do Hyeon', sans-serif; */
/* layout */
#header {height: 327px; background: url(../img/header_bg.jpg) repeat-x center top; }
#footer {height: 327px;}
/* container */
.container {width:1200px; margin: 0 auto; background: rgba(0,0,0,0,2);}

/* quick */
.quick{text-align: right; }
.quick a {color: #fff; padding: 4px 0 4px 10px; display: inline-block;
	transition: color 0.3s ease;}
.quick a:hover{color: #ccc;}

/* title */
.title {text-align: center; text-transform: uppercase; margin-top: 70px; 
	font-family: 'Do Hyeon', sans-serif;}
.title p {font-size: 24px; color: #000; background-color: #fff; display: inline; padding:  10px 20px;
	font-weight:900;}
.title h1 a {color: #fff; background-color: fff; padding: 10px 20px; display: inline-block; 
	font-size: 14px; font-weight: 400;}
.title h1 a:hover {}	

/* icon */
.icon {text-align: center;}
.icon ul{}
.icon li {display: inline;}
.icon li a{display: inline-block; width: 60px; height: 60px; backgorund-color: #3192bf;
	line-height: 80px; color: #fff; font-size: 35px; border-radius:50px;}
.icon li a span {position: absolute; left:0; top: -40px; font-size: 12px;}
}
/* foodtype */ 

.foodtype {text-align:center; font-family:'Do Hyeon', sans-serif;}
.foodtype ul{list-style:none; text-align:center;}
.foodtype ul li{display:inline; padding: 20px;}
.foodtype ul li a{font-size: 20px; color: #fff}



/* footer */
#footer {width: 100%; height: 250px; background-color: gray; text-align: center;
	font-family:'Do Hyeon', sans-serif; color: #fff;}
	
.footer-title{text-align: center; background-color: gray;}
	
.footer-title h1 a {text-align: center; margin-top: 70px; color: #fff;}
/* main */
#contents{}
#cont_top {}
#cont_center {}
#cont_bottom {}


/* main-search-bar  */
.main-search-bar {text-align: center; margin-top: 40px;}

/* 미디어쿼리 320/480/600/768/960/1024/1280 */
@media(max-width: 1280px){
	.container {width:100%;} 
}
@media(max-width: 1024px){

}
@media(max-width: 960px){

}
@media(max-width: 768px){

}
@media(max-width: 600px){

}
@media(max-width: 480px){

}
@media(max-width: 320px){

}